h1 {
    margin-left: 40%;
    background-color: #dc0700;
    color: #fff055;
    max-width: 50%;
    border-radius: 25px;
    text-align: center;
}

.card {
    color: #dc0700;
    margin-left: 30%;
    background-color: #fff055 !important;
}

div.card {
    border: solid  #dc0700 5px;
    border-radius: 25px;
}

li {
    padding: 5px;
    margin: 5px;
    font-weight: 600;
    
  }
  
#add {
    font-weight: 600;
}
  
  
.form-group {
    margin-bottom: 5px;
}

.displayed {
    display: block;
    margin: auto;
    height: auto;
    max-width: 40%;
}

.devoured {
    border-radius: 25px;
    background-color: #dc0700;
    color:  #fff055;
}

#button {
    border-radius: 25px;
    background-color: #dc0700;
    color:  #fff055;
}

.center {
    text-align: center;
}


body {
    background-image: url(/assets/img/BobsBurgers.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
  
.top {
    margin-top: 0;
}

.card-group {
    margin-top: 2%;
}